.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 46rem;
  width: 100%;
  align-items: space-between;
  padding-inline: 8px;
}
.container section {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  font-weight: 700;
}

.container section div:first-child {
  color: var(--blue);
}
.container section div:last-child {
  color: var(--purple);
}
.container section div span {
  border-radius: 16px;
  background-color: var(--gray-400);
  color: var(--gray-100);
  padding: 2px 8px;
  font-size: 0.75rem;
  margin-left: 8px;
}
.list {
  border-radius: 8px;
  border-top: 1px solid var(--gray-400);
}
.list svg {
  color: var(--gray-400);
}
.list article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 15.25rem;
  gap: 16px;
  color: var(--gray-300);
}
.list article div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list li {
  padding: 16px;
  display: flex;
  gap: 12px;
  align-items: start;
  background-color: var(--gray-500);
  border-radius: 8px;
  border: 1px solid var(--gray-400);
}
.list li + li {
  margin-top: 12px;
}
.list li input {
  position: relative;
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid var(--blue);
  background-color: transparent;
  appearance: none;
}
.list li input:checked {
  background-color: var(--purple-dark);
  border: 1px solid transparent;
}
.list li p {
  flex: 1;
  font-size: 0.875rem;
}
.list li p.done {
  text-decoration: line-through;
  color: var(--gray-300);
}

.list li svg {
  color: var(--gray-300);
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
}
.list li svg:hover {
  background-color: var(--gray-400);
  color: var(--danger);
}
